<div class="blnt-row-pad">
    <blnt-alert></blnt-alert>
    <h1 class="blnt-primary-green">Log In <img src="../../../assets/images/enter.svg" alt="Log In" class="blnt-h1-img-sm"></h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(); needFocus.focus()" novalidate>
        <div class="blnt-form-group-last">
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" autocomplete="email" autofocus #needFocus [formControlName]="'email'" />
                <blnt-validation-msg [controlValidation]="controlValidation['email']"></blnt-validation-msg>
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" autocomplete="current-password" [formControlName]="'password'" />
                <blnt-validation-msg [controlValidation]="controlValidation['password']"></blnt-validation-msg>
            </div>
        </div>
        <button class="btn btn-success" [disabled]="!loginForm.valid">Log in <i class="fa fa-sign-in" aria-hidden="true"></i></button>
    </form>
    <p class="blnt-top-pad">Not registered? <a [routerLink]="['/users', 'register']">Sign up.</a></p>
</div>