ul.blnt-options {
  padding:0 0 0 2rem;
  margin-left:0;

  li {
    margin-bottom:1rem;

    a {
      font-weight:800;
      font-size:1.1rem;
      clear:right;
      display:block;
    }

    .h5 {
      color:#007bff;
      margin: 2rem 0 0.2rem 0;
    }
  }
}