<div class="blnt-row-pad">
    <blnt-alert></blnt-alert>
    <div class="row blnt-home-bg">
        <div class="col-md-6 col-12">
            <h1 class="hidden">b.luntly</h1>
            <p class="blnt-md-text">Can you handle the truth... or will it handle you?</p>
            <p>We can all improve something about ourselves. The first step towards that is asking the right questions. Or more simply, maybe you are just curious about how others truly see you.</p>
            <p>b.luntly is a tool for getting anonymous and truthful answers to questions.</p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="blnt-primary-highlight">
        <div class="blnt-em-tb">
            <h2 class="blnt-em-tb-header"><i class="fa fa-question-circle fa-fw" aria-hidden="true"></i> <a class="blnt-em-tb-header-anchor" href="./users/ask">Ask Questions</a></h2>
            <div class="blnt-em-tb-content">
                <ul class="blnt-em-tb-content-list">
                    <li>What kind of first impression do you make?</li>
                    <li>Does your self-image reflect what others think?</li>
                    <li>How did you perform on your job interview?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="blnt-secondary-highlight">
        <div class="blnt-em-tb">
            <h2 class="blnt-em-tb-header"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i> <a class="blnt-em-tb-header-anchor" href="./users/answers">Get Answers</a></h2>
            <div class="blnt-em-tb-content">
                <ul class="blnt-em-tb-content-list">
                    <li>Answers are anonymous.</li>
                    <li>Can be brutally honest.</li>
                    <li>Offer you an opportunity to improve.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
