.post-h2 {
  display: block;
  margin-bottom: 1.5rem;
}

.blnt-help-list li {
  margin-bottom:0.8rem;
}

.blnt-sub-section-img {
  width:9rem;
  height:9rem;
  float:right;
  margin-left:1rem;
}

.bltn-social-sect {
  margin-top:2rem;
}