.post-h2 {
  display: block;
  margin-bottom: 1.5rem;
}

.blnt-help-list {
  margin-bottom:0;

  li {
    margin-bottom:0.8rem;

    &:last-child {
      margin-bottom:0;
    }
  }
}

.blnt-sub-section-img {
  width:9rem;
  height:9rem;
  float:right;
  margin-left:1rem;
}

.bltn-social-sect {
  margin-top:2rem;
}