.blnt-soften {
  color:#00bd6c;
}

.blnt-btn-sm {
  border:none;
  margin-bottom:1.5rem;
}

.blnt-close-btn-sm {
  border:none;
  margin:0 0.2rem;
}

.blnt-set-q {
  font-size:1.1rem;
  font-weight:600;
}

.blnt-qlist {
  margin-bottom:0.8rem;
}

.blnt-answer {
  margin-left:2.1rem;

  li {
    padding-left:0.4rem;

    i {
      color:#00bd6c;
    }
  }
}