<ng-container *ngIf="controlValidation.control.errors &&
(controlValidation.control.dirty || controlValidation.control.touched)">
    <ng-container [ngSwitch]="controlValidation.type">
        <ng-container *ngSwitchCase="'text'">
            <p *ngIf="controlValidation.control.errors.required" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> This field is required.</p>
            <p *ngIf="controlValidation.control.errors.unique" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ controlValidation.message.unique }}</p>
        </ng-container>
        <ng-container *ngSwitchCase="'email'">
            <p *ngIf="controlValidation.control.errors.required" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email is required.</p>
            <p *ngIf="controlValidation.control.errors.email" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Must be a valid email.</p>
        </ng-container>
        <ng-container *ngSwitchCase="'password'">
            <p *ngIf="controlValidation.control.errors.required" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required.</p>
            <p *ngIf="controlValidation.control.errors.minlength" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password must be at least 6 characters long.</p>
        </ng-container>
        <ng-container *ngSwitchCase="'group'">
            <p *ngIf="controlValidation.control.errors.atLeastOneRequired" class="help-block error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ controlValidation.message.groupValidation }}</p>
        </ng-container>
    </ng-container>
</ng-container>