$primary-blue:#2198F3;
$dark-blue:#0367B4;
$light-blue:#77BEF5;
$lighter-blue:#e6f4fe;
$contrast-white:#fff;
$contrast-off-white:#ebebeb;
$primary-green:#00bd6c;
$primary-green-light:#e7f9e8;
$secondary-purple:#5b5bf6;
$secondary-purple-light: #f4f2ff;
$primary-highlight:#FF4900;
$primary-highlight-light:#ffe0db;
$secondary-highlight:#FFC413;
$secondary-highlight-light:#ffeea8;
$tertiary-highlight:$dark-blue;
$tertiary-highlight-light:$light-blue;
$quaternary-highlight:#00b406;
$quaternary-highlight-light: #a6f5ab;
$header-color:#444;
$form-group-color:#e2e2e2;
$form-group-background-color:#f3f3f3;
$error-color:#D8000C;
$error-background-color:#ffe9e6;
$supplemental-info-color:#989898;
$anchor:#007bff;
$anchor-hover:#0056b3;