$primary-blue:#2198F3;
$dark-blue:#0367B4;
$light-blue:#77BEF5;
$lighter-blue:#e6f4fe;
$contrast-white:#fff;
$contrast-off-white:#ebebeb;
$primary-highlight:#FF4900;
$primary-highlight-light: #ffe0db;
$secondary-highlight:#FFC413;
$secondary-highlight-light: #ffeea8;
$tertiary-highlight:$dark-blue;
$tertiary-highlight-light:$light-blue;
$header-color:#444;
$error-color:#D8000C;