<header class="row blnt-main-header">
    <nav class="navbar navbar-expand-md col">
        <a class="navbar-brand" href="#" id="blnt-logo"><img class="blnt-logo" alt="b.luntly home" src="../assets/images/b.luntly-logo.svg"></a>
        <button class="navbar-toggler collapsed float-right" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbar" [collapse]="isCollapsed">
            <ul class="nav navbar-nav" (click)="isCollapsed = !isCollapsed">
                <li class="nav-item" uiSrefActive="active">
                    <a class="nav-link" uiSref="ask">Ask</a>
                </li>
                <li class="nav-item" uiSrefActive="active">
                    <a class="nav-link" uiSref="answers">Answers</a>
                </li>
                <li class="nav-item" uiSrefActive="active" *ngIf="!currentAuth">
                    <a class="nav-link" uiSref="login">Log In</a>
                </li>
                <li class="nav-item" uiSrefActive="active" *ngIf="!currentAuth">
                    <a class="nav-link" uiSref="register">Sign Up</a>
                </li>
                <li class="nav-item" uiSrefActive="active" *ngIf="currentAuth">
                    <a class="nav-link" href="">{{ currentAuth.email }}</a>
                </li>
                <li class="nav-item" uiSrefActive="active" *ngIf="currentAuth">
                    <a class="nav-link" href="#" (click)="logout()" >Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section class="row blnt-main" [class.blnt-home-bg]="isHome">
    <div class="col-10 col-lg-8 col-xl-6 mx-auto" [class.blnt-home-lyr2-bg]="isHome">
        <ui-view></ui-view>
    </div>
</section>

<footer class="row blnt-footer">
    <section class="col-10 col-lg-8 col-xl-6 mx-auto blnt-footer-inner">
        <h1 class="blnt-reg">About</h1>
        <p>The disconnect between how we see ourselves and how others see us has always fascinated me. This app helps me, and you, explore this topic.</p>
        <h2 class="blnt-reg">Contact</h2>
        <p><a class="blnt-contrast-off-white" href="mailto:tellme@b.luntly.com">tellme@b.luntly.com</a></p>
        <p class="blnt-footer-brk"><img class="blnt-logo-footer" alt="b.luntly home" src="../assets/images/b.luntly-logo.svg"></p>
        <p>Check me out on <a class="blnt-contrast-off-white" href="https://github.com/pablooliva/bluntly">GitHub</a>.</p>
        <p>Copyright &copy; 2016 Pablo Oliva. Licensed under <a class="blnt-contrast-off-white" href="https://www.gnu.org/licenses/gpl.html">GNU GPL v. 3.</a></p>
    </section>
</footer>