<blnt-header></blnt-header>
<section class="row blnt-main">
    <div class="col-10 col-lg-8 col-xl-6 mx-auto">
        <router-outlet></router-outlet>
    </div>
</section>
<footer class="row blnt-footer">
    <section class="col-10 col-lg-8 col-xl-6 mx-auto blnt-footer-inner">
        <h1 class="blnt-reg">About</h1>
        <p class="blnt-p-pre-h">b.luntly lets you ask questions to get anonymous and honest ("blunt") answers. This app was inspired by a fascination with the disconnect between how we see ourselves and how others see us.</p>
        <p><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> <a class="blnt-contrast-off-white" href="mailto:tellme@b.luntly.com">tellme@b.luntly.com</a> &nbsp; <i class="fa fa-github fa-fw" aria-hidden="true"></i> On <a class="blnt-contrast-off-white" href="https://github.com/pablooliva/bluntly.ng4">GitHub</a></p>
        <p class="blnt-footer-brk"><img class="blnt-logo-footer" alt="b.luntly home" src="../assets/images/b.luntly-logo.svg"></p>
        <p class="blnt-sm-text">Copyright &copy; 2016 Pablo Oliva. Licensed under <a class="blnt-contrast-off-white" href="https://www.gnu.org/licenses/gpl.html">GNU GPL v. 3.</a></p>
    </section>
</footer>