<div class="blnt-row-pad">
    <blnt-alert></blnt-alert>
    <h1 class="blnt-primary-blue">Ask <img src="../../../assets/images/ask-questions.svg" alt="Ask Questions" class="blnt-h1-img"></h1>
    <ng-container *ngIf="!showForm">
        <div class="blnt-content-group">
            <h2>Create New Questions</h2>
            <p>Create a new set of questions to share.</p>
            <button class="btn btn-success" (click)="showForm = true">New questions <i class="fa fa-plus fa-fw" aria-hidden="true"></i></button>
        </div>
        <blnt-share [shareTitle]="'Share Your Questions'" [questionSets]="questionSets"></blnt-share>
    </ng-container>
    <ng-container *ngIf="showForm">
        <form [formGroup]="askQForm" (ngSubmit)="saveQSet(); needFocus.focus()" (keydown.enter)="$event.preventDefault()" novalidate>
            <div class="blnt-form-group">
                <h2>New Questions</h2>
                <div class="form-group">
                    <h4>Set name</h4>
                    <label class="control-label" for="set-name">Label or title for this set of questions</label>
                    <input type="text" name="set-name" id="set-name" class="form-control" autofocus #needFocus [formControlName]="'setName'">
                    <div class="blnt-help-text"
                         [ngClass]="{ 'hidden':
                            ( askQForm.get('setName').hasError('required') || askQForm.get('setName').hasError('unique') )
                            && ( askQForm.get('setName').dirty || askQForm.get('setName').touched )
                         }">* Required</div>
                    <blnt-validation-msg [controlValidation]="controlValidation['text']"></blnt-validation-msg>
                </div>
            </div>
            <div class="blnt-form-group"
                [ngClass]="{ 'blnt-group-error':
                    askQForm.get('questions').hasError('atLeastOneRequired')
                    && askQForm.get('questions').touched
                }"
                [formGroupName]="'questions'">
                <h4>Questions</h4>
                <div class="blnt-help-text"
                     [ngClass]="{ 'hidden':
                        askQForm.get('questions').hasError('atLeastOneRequired')
                        && ( askQForm.get('questions').dirty || askQForm.get('questions').touched )
                     }">* At least one (1) question below required</div>
                <blnt-validation-msg [controlValidation]="controlValidation['group']" class="blnt-post-h4"></blnt-validation-msg>
                <div class="form-group">
                    <label class="control-label" for="question1">Question 1</label>
                    <input name="question1" id="question1" class="form-control" [formControlName]="'question1'">
                </div>
                <div class="form-group">
                    <label class="control-label" for="question2">Question 2</label>
                    <input name="question2" id="question2" class="form-control" [formControlName]="'question2'">
                </div>
                <div class="form-group">
                    <label class="control-label" for="question3">Question 3</label>
                    <input name="question3" id="question3" class="form-control" [formControlName]="'question3'">
                </div>
            </div>
            <div class="blnt-form-group-last">
                <h4>Tell 'em About Yourself</h4>
                <p>After someone is finished answering your questions, you can choose to display a brief "bio" and links to connect with you.</p>
                <p><ng-container *ngIf="bios">Choose a Bio or </ng-container><a routerLink="/users/bio">Create/Edit a Bio</a>.</p>
                <label class="blnt-radio-button" *ngFor="let bio of (bios | async)">
                    <input type="radio" name="bio" id="bio-{{i}}" value="{{ bio.$key }}" formControlName="bio">
                    {{ bio.bioName }}
                </label>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!askQForm.valid">Save set <i aria-hidden="true" class="fa fa-arrow-circle-right"></i></button> <button type="button" class="btn btn-danger" (click)="cancelQSet()">Cancel <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
        </form>
    </ng-container>
</div>