<header class="row blnt-main-header">
    <nav class="navbar navbar-expand-md col">
        <a class="navbar-brand" href="#" id="blnt-logo"><img class="blnt-logo" alt="b.luntly home" src="../../../assets/images/b.luntly-logo.svg"></a>
        <button class="navbar-toggler collapsed float-right" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbar" [collapse]="isCollapsed">
            <ul class="nav navbar-nav" (click)="isCollapsed = !isCollapsed">
                <ng-container *ngIf="!currentUser">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users', 'login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users', 'register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Get started</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="currentUser">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users', 'ask']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ask questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users', 'answers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Get answers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User: {{ currentUser.email }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="logout()">Logout</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</header>