<section>
    <h3 ng-hide="editBio">Create a Bio</h3>
    <h3 ng-show="editBio">Edit Bio: {{ bio.bioName }}</h3>
    <button ng-click="cancelEdit()" class="btn btn-danger btn-xs" ng-show="editBio"><span class="glyphicon glyphicon-remove"></span> Cancel Edit</button>
    <a name="bio-create-alert"></a>
    <div ui-view></div>
    <p>Required: Bio name, plus one other field.</p>
    <form name="bioForm" ng-submit="saveBio()" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : bioForm['bio-name'].$invalid && (!bioForm.$pristine || bioForm.$touched) }">
            <label class="control-label" for="bio-name">Bio name: give this bio a name.</label>
            <input type="text" name="bio-name" id="bio-name" class="form-control" autofocus ng-model="bio.bioName" ng-required="true" ng-keyup="btnStatus()">
            <p class="help-block" ng-show="bioForm['bio-name'].$invalid && (!bioForm.$pristine || bioForm.$touched)">Name is required.</p>
        </div>
        <div class="form-group">
            <label class="control-label" for="user-name">Your name</label>
            <input type="text" name="user-name" id="user-name" class="form-control" ng-model="bio.displayName" ng-keyup="btnStatus()">
        </div>
        <div class="form-group">
            <label class="control-label" for="fact">Fact: something people may not know about you, something surprising.</label>
            <input type="text" name="fact" id="fact" class="form-control" ng-model="bio.fact" ng-keyup="btnStatus()">
        </div>
        <div class="form-group">
            <label class="control-label" for="bio-desc">Bio: a short description about yourself.</label>
            <input type="text" name="bio-desc" id="bio-desc" class="form-control" ng-model="bio.desc" ng-keyup="btnStatus()">
        </div>
        <h4>Popular Ways to Connect</h4>
        <div class="form-group">
            <label class="control-label" for="facebook">Facebook</label>
            <input type="text" placeholder="https://www.facebook.com/..user.." name="facebook" id="facebook" class="form-control" ng-model="bio.facebook" ng-keyup="btnStatus()">
        </div>
        <div class="form-group">
            <label class="control-label" for="twitter">Twitter</label>
            <input type="text" placeholder="https://twitter.com/..user.." name="twitter" id="twitter" class="form-control" ng-model="bio.twitter" ng-keyup="btnStatus()">
        </div>
        <div class="form-group">
            <label class="control-label" for="linkedin">LinkedIn</label>
            <input type="text" placeholder="https://www.linkedin.com/in/..user.." name="linkedin" id="linkedin" class="form-control" ng-model="bio.linkedin" ng-keyup="btnStatus()">
        </div>
        <div class="form-group">
            <label class="control-label" for="xing">Xing</label>
            <input type="text" placeholder="https://www.xing.com/profile/..user.." name="xing" id="xing" class="form-control" ng-model="bio.xing" ng-keyup="btnStatus()">
        </div>
        <div class="form-group">
            <label class="control-label" for="github">GitHub</label>
            <input type="text" placeholder="https://github.com/..user.." name="github" id="github" class="form-control" ng-model="bio.github" ng-keyup="btnStatus()">
        </div>
        <h4>Other Ways to Connect</h4>
        <div class="form-group" ng-class="{ 'has-error' : bioForm['other-one-name'].$invalid }">
            <label class="control-label" for="other-one-name">Name</label>
            <input type="text" name="other-one-name" id="other-one-name" class="form-control" ng-model="bio.other.one.name" ng-required="bio.other.one.link" ng-keyup="btnStatus()">
            <p class="help-block" ng-show="bioForm['other-one-name'].$invalid">A name is required for the link below.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : bioForm['other-one-link'].$invalid }">
            <label class="control-label" for="other-one-link">Link</label>
            <input type="text" placeholder="http://domain.com" name="other-one-link" id="other-one-link" class="form-control" ng-model="bio.other.one.link" ng-required="bio.other.one.name" ng-keyup="btnStatus()">
            <p class="help-block" ng-show="bioForm['other-one-link'].$invalid">A link is required for the name above.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : bioForm['other-two-name'].$invalid }">
            <label class="control-label" for="other-two-name">Name</label>
            <input type="text" name="other-two-name" id="other-two-name" class="form-control" ng-model="bio.other.two.name" ng-required="bio.other.two.link" ng-keyup="btnStatus()">
            <p class="help-block" ng-show="bioForm['other-two-name'].$invalid">A name is required for the link below.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : bioForm['other-two-link'].$invalid }">
            <label class="control-label" for="other-two-link">Link</label>
            <input type="text" placeholder="http://domain.com" name="other-two-link" id="other-two-link" class="form-control" ng-model="bio.other.two.link" ng-required="bio.other.two.name" ng-keyup="btnStatus()">
            <p class="help-block" ng-show="bioForm['other-two-link'].$invalid">A link is required for the name above.</p>
        </div>
        <button type="submit" class="btn btn-success" ng-disabled="btnDisabled">Save Bio</button>
    </form>
</section>