<div class="container-fluid blnt-main-inner-container">
    <div class="row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <h1>Share Yourself</h1>
            <p>Share a brief "about yourself" (bio) with those that answer your questions. Create as many bios as you'd like, but only one bio is permitted per set of questions <a ui-sref="ask">asked</a>.</p>
            <section ng-show="bios">
                <h3>Your Bios</h3>
                <ul class="list-unstyled blnt-bios-list">
                    <li>
                        <button class="btn btn-default btn-sm" ng-click="goToCreateBio()"><span class="glyphicon glyphicon-plus"></span> Add Bio</button>
                    </li>
                    <li ng-repeat="bio in bios | orderBy: 'bioName'">
                        <a ui-sref="bio.create({ bioKey: bio.$id })"><span class="glyphicon glyphicon-edit"></span> {{ bio.bioName }}</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="row blnt-secondary-bl-row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div ui-view></div>
        </div>
    </div>
    <div class="row blnt-secondary-row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        </div>
    </div>
</div>