<div class="blnt-bio-container">
    <form [formGroup]="bioForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label class="control-label h4" for="bio-name">Bio name</label>
            <input type="text" name="bio-name" id="bio-name" class="form-control" [formControlName]="'bioName'">
            <blnt-validation-msg [controlValidation]="controlValidation['text']"></blnt-validation-msg>
        </div>
        <div [formGroupName]="'bioSubForm'">
            <h4>Bio details</h4>
            <blnt-validation-msg [controlValidation]="controlValidation['group']" class="post-h4"></blnt-validation-msg>
            <div class="form-group">
                <label class="control-label" for="user-name">Your name</label>
                <input type="text" name="user-name" id="user-name" class="form-control" [formControlName]="'userName'">
            </div>
            <div class="form-group">
                <label class="control-label" for="fact">Something people may not know about you, something surprising</label>
                <input type="text" name="fact" id="fact" class="form-control" [formControlName]="'fact'">
            </div>
            <div class="form-group">
                <label class="control-label" for="bio-desc">A short description about yourself</label>
                <textarea name="bio-desc" id="bio-desc" class="form-control" [formControlName]="'desc'"></textarea>
            </div>
            <h6>Popular Ways to Connect</h6>
            <ol>
                <li class="form-group">
                    <label class="control-label" for="facebook">Facebook</label>
                    <input type="text" placeholder="https://www.facebook.com/..user.." name="facebook" id="facebook" class="form-control" [formControlName]="'facebook'">
                </li>
                <li class="form-group">
                    <label class="control-label" for="twitter">Twitter</label>
                    <input type="text" placeholder="https://twitter.com/..user.." name="twitter" id="twitter" class="form-control" [formControlName]="'twitter'">
                </li>
                <li class="form-group">
                    <label class="control-label" for="linkedin">LinkedIn</label>
                    <input type="text" placeholder="https://www.linkedin.com/in/..user.." name="linkedin" id="linkedin" class="form-control" [formControlName]="'linkedin'">
                </li>
                <li class="form-group">
                    <label class="control-label" for="xing">Xing</label>
                    <input type="text" placeholder="https://www.xing.com/profile/..user.." name="xing" id="xing" class="form-control" [formControlName]="'xing'">
                </li>
                <li class="form-group">
                    <label class="control-label" for="github">GitHub</label>
                    <input type="text" placeholder="https://github.com/..user.." name="github" id="github" class="form-control" [formControlName]="'github'">
                </li>
            </ol>
            <h6>Other Ways to Connect</h6>
            <ol [formGroupName]="'other'">
                <li [formGroupName]="'one'">
                    <div class="form-group">
                        <label class="control-label" for="other-one-name">Name to identify link</label>
                        <input type="text" name="other-one-name" id="other-one-name" class="form-control" [formControlName]="'name'">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="other-one-link">Link</label>
                        <input type="text" placeholder="http://domain.com" name="other-one-link" id="other-one-link" class="form-control" [formControlName]="'link'">
                    </div>
                </li>
                <li [formGroupName]="'two'">
                    <div class="form-group">
                        <label class="control-label" for="other-two-name">Name to identify link</label>
                        <input type="text" name="other-two-name" id="other-two-name" class="form-control" [formControlName]="'name'">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="other-two-link">Link</label>
                        <input type="text" placeholder="http://domain.com" name="other-two-link" id="other-two-link" class="form-control" [formControlName]="'link'">
                    </div>
                </li>
            </ol>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!bioForm.valid">Save Bio</button>
    </form>
</div>
