<div class="container-fluid blnt-main-inner-container">
    <div class="row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <h1>Your Opinion Matters!</h1>
            <p>Someone is counting on your opinion. Please answer the following questions honestly, but also keep in mind:</p>
            <ul>
                <li><strong>All answers are anonymous.</strong> Only after each third person responds will answers be revealed.</li>
                <li><strong>Remember the Golden Rule</strong>: One should treat others as one would like to be treated.</li>
            </ul>
            <h2 ng-hide="answersSubmitted">Questions</h2>
            <div ui-view></div>
            <section ng-hide="answersSubmitted">
                <p ng-hide="questionSet"><img src="images/loading.gif"></p>
                <p ng-show="questionSet.length === 0">This set of questions have disappeared. Are you interested in <a ui-sref="ask">creating your own questions</a> for others to answer?</p>
                <form name="answerQForm" ng-submit="saveAnswers()" ng-show="questionSet.length >= 1" novalidate>
                    <div class="form-group" ng-repeat="question in questionSet">
                        <label class="control-label" for="{{ question.$id }}">{{ question.$value }}</label>
                        <input type="text" name="{{ question.$id }}" id="{{ question.$id }}" class="form-control" ng-model="answer[question.$id]" ng-keyup="btnStatus()">
                    </div>
                    <button type="submit" class="btn btn-success" ng-disabled="btnDisabled">Save Answers</button>
                </form>
            </section>

        </div>
    </div>
    <div class="row blnt-secondary-row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <section ng-show="bio">
                <h2>And it Matters to...</h2>
                <p><span ng-show=" bio.displayName"><strong>{{ bio.displayName }}</strong></span><span ng-hide=" bio.displayName">The person who invited you</span> is grateful to you for answering these questions.</p>
                <section ng-show="bio.fact">
                    <h3>Did You Know?</h3>
                    <p>{{ bio.fact }}</p>
                </section>
                <section ng-show="bio.bioDesc">
                    <h3>About Me</h3>
                    <p>{{ bio.bioDesc }}</p>
                </section>
                <section ng-show="bio.facebook || bio.twitter || bio.linkedin || bio.xing || bio.github || bio.otherLink1 || bio.otherLink2">
                    <h3>Connect</h3>
                    <ul class="list-unstyled blnt-inline-list">
                        <li ng-show="bio.facebook"><a ng-href="{{ bio.facebook }}"><img class="blnt-social-logos" alt="Facebook" src="images/facebook-logo.svg"></a></li>
                        <li ng-show="bio.twitter"><a ng-href="{{ bio.twitter }}"><img class="blnt-social-logos" alt="Twitter" src="images/twitter-logo.svg"></a></li>
                        <li ng-show="bio.linkedin"><a ng-href="{{ bio.linkedin }}"><img class="blnt-social-logos" alt="LinkedIn" src="images/linkedin-logo.svg"></a></li>
                        <li ng-show="bio.xing"><a ng-href="{{ bio.xing }}"><img class="blnt-social-logos" alt="Xing" src="images/xing-logo.svg"></a></li>
                        <li ng-show="bio.github"><a ng-href="{{ bio.github }}"><img class="blnt-social-logos" alt="GitHub" src="images/github-logo.svg"></a></li>
                        <li ng-show="bio.otherLink1"><a class="blnt-lrg-text blnt-social-list-txt-adj" ng-href="{{ bio.otherLink1 }}">{{ bio.otherName1 }}</a></li>
                        <li ng-show="bio.otherLink2"><a class="blnt-lrg-text blnt-social-list-txt-adj" ng-href="{{ bio.otherLink2 }}">{{ bio.otherName2 }}</a></li>
                    </ul>
                </section>
            </section>
        </div>
    </div>
</div>