<div class="">
    <div class="blnt-row-btm-pad">
        <h1 class="hidden">b.luntly</h1>
        <p class="blnt-md-text">Can you handle the blunt truth?</p>
        <div class="blnt-primary-highlight">
            <div class="blnt-em-tb">
                <h2 class="blnt-em-tb-header"><i class="fa fa-question-circle" aria-hidden="true"></i> <a class="blnt-em-tb-header-anchor" uiSref="ask">Ask</a></h2>
                <div class="blnt-em-tb-content">
                    <ul class="blnt-em-tb-content-list">
                        <li>What kind of first impression do you make?</li>
                        <li>How did you do on your interview?</li>
                        <li>Does your self-image reflect what others think?</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="blnt-secondary-highlight">
            <div class="blnt-em-tb">
                <h2 class="blnt-em-tb-header"><i class="fa fa-check-circle" aria-hidden="true"></i> <a class="blnt-em-tb-header-anchor" uiSref="answers">Answers</a></h2>
                <div class="blnt-em-tb-content">
                    <ul class="blnt-em-tb-content-list">
                        <li>Are anonymous.</li>
                        <li>Can be brutally honest.</li>
                        <li>Offer you an opportunity to improve.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>