<div class="container-fluid blnt-main-inner-container blnt-home-bg">
    <div class="row blnt-row-btm-pad blnt-home-lyr2-bg">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <h1 class="hidden">b.luntly</h1>
            <p><img class="blnt-logo-main" alt="b.luntly" src="../../assets/images/b.luntly-logo-blue.svg"></p>
            <p class="blnt-md-text">Get blunt answers about you, from those that matter to you.</p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 blnt-primary-highlight">
                        <div class="blnt-em-tb">
                            <h2 class="blnt-em-tb-header"><span class="glyphicon glyphicon-question-sign"></span> <a class="blnt-em-tb-header-anchor" uiSref="ask">Ask</a></h2>
                            <div class="blnt-em-tb-content">
                                <ul class="blnt-em-tb-content-list">
                                    <li>What kind of first impression do you make?</li>
                                    <li>How did you do on your interview?</li>
                                    <li>Does your self-image reflect what others think?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 blnt-secondary-highlight">
                        <div class="blnt-em-tb">
                            <h2 class="blnt-em-tb-header"><span class="glyphicon glyphicon-ok-sign"></span> <a class="blnt-em-tb-header-anchor" uiSref="answers">Answers</a></h2>
                            <div class="blnt-em-tb-content">
                                <ul class="blnt-em-tb-content-list">
                                    <li>Are anonymous.</li>
                                    <li>Can be brutally honest.</li>
                                    <li>Offer you an opportunity to improve.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>