<div class="container-fluid blnt-main-inner-container">
    <div class="row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <h1>Sign Up</h1>
            <div ui-view></div>
            <form name="registerForm" ng-submit="register()" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && (!registerForm.email.$pristine || registerForm.email.$touched) }">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" autocomplete="email" autofocus ng-model="user.email" ng-required="true"/>
                    <p class="help-block" ng-show="registerForm.email.$invalid && (!registerForm.email.$pristine || registerForm.email.$touched)">Must be a valid email.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : (!registerForm.password.$pristine || registerForm.password.$touched) && (registerForm.password.$invalid || registerForm.password.$error.minlength) }">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-required="true"/>
                    <p class="help-block" ng-show="(!registerForm.password.$pristine || registerForm.password.$touched) && registerForm.password.$invalid && !registerForm.password.$error.minlength">Password is required.</p>
                    <p class="help-block" ng-show="(!registerForm.password.$pristine || registerForm.password.$touched) && registerForm.password.$error.minlength">Password must be at least 6 characters long.</p>
                </div>
                <button type="submit" class="btn btn-success" ng-disabled="registerForm.$invalid">Sign Up</button>
            </form>
        </div>
    </div>
    <div class="row blnt-secondary-row blnt-row-btm-pad">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        </div>
    </div>
</div>